@font-face {
  font-family: gillsans;
  src: url("../fonts/gillsans.otf");
}

@font-face {
  font-family: gillsansitalic;
  src: url("../fonts/gillsanslight.otf");
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: gillsans, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 7rem;
  width: 100vw;
  height: 100vh;

}

.content {
  display: flex;
  flex-direction: column;

  &__header {
    ul {
      list-style: none;

      li {
        display: inline-block;
        font-size: 2.2rem;
        text-transform: uppercase;

        a {
          color: #fff;
          text-decoration: none;
        }

        &:not(:last-child) {
          margin-right: 5rem;
        }
      }
    }
  }

  &__logo {
    width: 25%;
  }
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.media {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-end;

  &__boxes-img {
    width: 200%;
    position: relative;
    right: 50rem;
  }

  &__nav-btns {

    .left__btn,
    .right__btn {
      background-color: orangered;
      width: 2.5rem;
      height: 2.5rem;
    }

    .right_btn {

    }
  }
}
